.Individual-Job {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto 2rem;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  background-color: #fff;
}

.Individual-Job-Info {
  width: 100%;
  margin-left: 2rem;
  align-items: flex-start;
}

.Title {
  display: flex;
}

.Title * {
  margin-right: 1rem;
}

.Company-Name {
  color: var(--desat-cyan);
}

.Title-Badge {
  border-radius: 2rem;
  padding: 0.2rem 0.9rem;
  color: var(--light-gray-cyan);
  text-transform: uppercase;
}

.Featured {
  background-color: var(--very-dark-cyan);
}

.New {
  background-color: var(--desat-cyan);
}

.Job-Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.Position:hover {
  color: var(--desat-cyan);
  cursor: pointer;
}

.Job-Title-Info * {
  margin: 0 0.5rem;
}

.Badge {
  background-color: var(--light-gray-cyan);
  color: var(--desat-cyan);
  border: none;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

.Badge:hover,
.Badge:active {
  background-color: var(--desat-cyan);
  color: var(--light-gray-cyan);
}

.Job-Info {
  display: flex;
}

.Job-Info * {
  margin-right: 0.5rem;
}

.Job-Info *::after {
  content: ".";
}
