.Header {
  background-color: var(--desat-cyan);
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Filters-Section {
  position: absolute;
  top: 85%;
  background-color: white;
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
