@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grayish-cyan: #effafa;
  --light-gray-cyan: #eef6f6;
  --dark-gray-cyan: #7b8e8e;
  --very-dark-cyan: #2c3a3a;
  --desat-cyan: #5ba4a4;
}

body {
  font-family: "Spartan", sans-serif;
}

img {
  display: inline-block;
  width: 100%;
}
